product/app/WebViewGoogle/WebViewGoogle.apk
product/priv-app/GmsCore/GmsCore.apk
product/priv-app/Velvet/Velvet.apk
system/system/app/SBrowser_16.2/SBrowser_16.2.apk
system/system/app/Notes40/Notes40.apk
system/system/priv-app/OneDrive_Samsung_v3/OneDrive_Samsung_v3.apk
system/system/system_ext/apex/com.android.vndk.v30.apex
system/system/carrier/VZW/priv-app/MyVerizonMobile/MyVerizonMobile.apk
